<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
  	<style>
  		body{
	    background-image: url('images/uploadBackground.gif');
	    background-size: cover;
	    height: 100vh;
	    padding:0;
	    margin:0;
		}
	</style>
    <meta charset="ISO-8859-1" />
    <title>Delete universe</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/webjars/bootstrap/css/bootstrap.min.css"
    />
    <link rel="stylesheet" th:href="@{'/css/style.css'}" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script
      type="text/javascript"
      src="/webjars/bootstrap/js/bootstrap.min.js"
    ></script>
  </head>
  <body>
  	<div style="
  		position: absolute;
	  	width: 600px;
	  	right: 32%;
	    top: 355px;
	    height: 200px;
	    border: thin solid white;
	    background-image: url('images/uploadDivBackground.gif')">
	    <h1 style = "color: blue; text-align: center"> Delete Universe </h1>

		<div class="dropdown1">
			<button class="dropbtn1">
			  All Universes
			  <i class="fa fa-caret-down"></i>
			</button>
		</div>
		<button id="upload-button" style = "position: absolute; right: 30%" > Delete </button>
		<script>
		</script>
		
	</div>
  </body>
</html>