<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <style>
      body{
	    background-image: url('images/background-gif.gif');
	    background-size: cover;
		}
    </style>

    <meta charset="ISO-8859-1" />
    <title>Registration Success</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/webjars/bootstrap/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div style="color: white;" class="container text-center">
      <h3>Universe generated successfull</h3>
      <h4><a th:href="@{/home}">Click here to back to home page</a></h4>
    </div>
  </body>
</html>
