<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="ISO-8859-1" />
    <title>Generate</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/webjars/bootstrap/css/bootstrap.min.css"
    />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script
      type="text/javascript"
      src="/webjars/bootstrap/js/bootstrap.min.js"
    ></script>
  </head>
  <body style ="background-image: url('images/Generator.jpg');
	    background-size: cover;
	    height: 100vh">
	<script>
    	 var countdown = setTimeout(function() {
            alert("please enter number of star more than 0"); 
        }, 100);
    </script>
	<div style="color: black; height: 20px; " class="container text-center">
	  <div>
	    <h1 style =" color: white">Universe Generator</h1>
	  </div>
	  <form
	    th:action="@{/generateuniverse}"
	    th:object="${universe}"
	    method="post"
	    style="max-width: 600px; margin: 0 auto"
	  >
	  <div class="m-3">
	    <div class="form-group row">
	      <label style="color: white;" class="col-4 col-form-label" for="shapes">Shape</label>
	        <div>
	          <select name="shapes" th:field="*{shape}">
	            <option th:value="SCATTER">SCATTER</option>
	            <option th:value="CLUSTER">CLUSTER</option>
	            <option th:value="SCATTERED_CLUSTER">SCATTERED_CLUSTER</option>
	          </select>
	        </div>
	    </div>
	      <div class="form-group row">
	        <label style="color: white;" class="col-4 col-form-label">Number of Star Systems</label>
	          <div class="col-8">
	            <input th:field="*{size}" class="form-control" />
	          </div>
	    </div>
	    <div>
	      <button type="submit" class="btn btn-primary">
	        Create Universe
	      </button>
	    </div>
	   </div>
	 </form>
   </div>
  </body>
</html>
