<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="/webjars/bootstrap/css/bootstrap.min.css"
    />
    <script
      type="text/javascript"
      src="/webjars/bootstrap/js/bootstrap.min.js"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{'css/home.css'}" />
    <!-- <link rel="stylesheet" th:href="@{'css/style.css'}" /> -->
    <title>Home page</title>
  </head>
  <body>
    <div class="topnav">
      <a class="active" th:href="@{/}">Home</a>
      <a sec:authorize="isAuthenticated()" th:href="@{/generator}"
        >Generate a Universe
      </a>
      <div class="dropdown1" sec:authorize="isAuthenticated()">
        <button class="dropbtn1">
          All Universes
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content1">
          <a
            th:each="universe : ${ListUniverses}"
            th:href="@{'/canvas/' + ${universe.universeId}}"
            th:text="${universe.universeName}"
          ></a>
        </div>
      </div>
      <a
        sec:authorize="!isAuthenticated()"
        th:href="@{/login_page}"
        style="position: absolute; left: 87%"
        >Login</a
      >
      <a
        sec:authorize="!isAuthenticated()"
        th:href="@{/register}"
        style="position: absolute; left: 93%"
        >Register</a
      >
    </div>
    <div style="position: relative">
      <div
        style="
          background-image: url('images/frontheader.jpg');
          background-repeat: no-repeat;
          background-size: 100% 800px;
          height: 1000px;
          width: 100%;
        "
      ></div>
      <div class="background" style="position: absolute">
        <div
          class="text-center reveal"
          style="
            color: black;
            background-color: white;
            position: absolute;
            top: -460px;
            left: 28%;
            width: 840px;
            height: 270px;
            padding-top: 40px;
          "
        >
          <h3 style="margin-bottom: 15px; font-weight: 200">Welcome!</h3>
          <h1 style="font-weight: 400; font-size: 70px">GALAXY GENERATOR</h1>
        </div>
      </div>
    </div>
    <div sec:authorize="!isAuthenticated()">
      <div
        class="row"
        style="
          position: absolute;
          top: 600px;
          /* width: 100%; */
          left: 30%;
          margin-top: 400px;
        "
      >
        <div class="column">
          <div class="card1">
            <h3 style="height: 100px">Login</h3>
            <p
              style="
                text-align: center;
                height: 100px;
                font-stretch: expanded;
                margin-bottom: 45px;
              "
            >
              Click here to log in to access the functionality of the generator
            </p>
            <button
              class="button-4"
              role="button"
              onclick="window.location.href='http://localhost:8080/login'"
            >
              Log In
            </button>
          </div>
        </div>
        <div class="column">
          <div class="card1">
            <h3 style="height: 100px">Register</h3>
            <p
              style="
                text-align: center;
                height: 100px;
                font-stretch: expanded;
                margin-bottom: 45px;
              "
            >
              Click here to register first if you don't have an account
            </p>
            <button
              class="button-4"
              role="button"
              onclick="window.location.href='http://localhost:8080/register'"
            >
              Register
            </button>
          </div>
        </div>
      </div>
    </div>
    <div sec:authorize="isAuthenticated()">
      <div id="logout" ; style="position: absolute; left: 93%; top: 0px">
        <form action="/logout" method="post">
          <input type="hidden" value="Logout" />
          <button>Logout</button>
        </form>
      </div>
      <div
        class="row reveal"
        style="
          position: absolute;
          top: 600px;
          /* width: 100%; */
          left: 9%;
          margin-top: 500px;
        "
      >
        <div class="column">
          <div class="card1">
            <h3 style="height: 100px">Generate a Universe</h3>
            <p
              style="
                text-align: center;
                height: 100px;
                font-stretch: expanded;
                margin-bottom: 45px;
              "
            >
              Click here to generate a list of universe with all star systems
              and planetse randomly generated within
            </p>
            <button
              class="button-4"
              role="button"
              onclick="window.location.href='http://localhost:8080/generator'"
            >
              Generate
            </button>
          </div>
        </div>
        <div class="column">
          <div class="card1">
            <h3 style="height: 100px">All Planets</h3>
            <p style="height: 100px; margin-bottom: 45px">
              Click here to see all planets. These are all the planets gathered
              from every universes and star systems with full stats
            </p>
            <button
              class="button-4"
              role="button"
              onclick="window.location.href='http://localhost:8080/planets'"
            >
              List of planets
            </button>
          </div>
        </div>

        <div class="column">
          <div class="card1">
            <h3 style="height: 100px">Load Universe</h3>
            <p style="height: 100px; margin-bottom: 45px">
              Click here to load all entities from a save file including
              universes, star systems and planets
            </p>
            <button
              class="button-4"
              role="button"
              onclick="window.location.href='http://localhost:8080/load'"
            >
              Load save file
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
      class="reveal"
      style="
        position: absolute;
        top: 1700px;
        background-image: url('images/footer.jpg');
        background-repeat: no-repeat;
        background-size: 100% 800px;
        height: 700px;
        width: 100%;
      "
    >
      <h2
        class="text-center"
        style="color: white; padding: 40px; margin-top: 40px"
      >
        About Our Project
      </h2>
      <p
        class="text-center"
        style="position: absolute; color: white; width: 25%; left: 37%"
      >
        Type in project desciption here------------------------------------------------------------------------------------------------------------------------------------------------------
      </p>
    </div>
    <script>
      function reveal() {
        var reveals = document.querySelectorAll(".reveal");

        for (var i = 0; i < reveals.length; i++) {
          var windowHeight = window.innerHeight;
          var elementTop = reveals[i].getBoundingClientRect().top;
          var elementVisible = 150;

          if (elementTop < windowHeight - elementVisible) {
            reveals[i].classList.add("active");
          } else {
            reveals[i].classList.remove("active");
          }
        }
      }

      window.addEventListener("scroll", reveal);
    </script>
  </body>
</html>
